*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
}

.main {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

.header {
  background: #222222;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basic__list {
  min-width: 111px;
  margin: 18px 0 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  min-width: 168px;
  margin: 18px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* #menu__toogle {
  opacity: 0;
} */
.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 420px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__burger {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 232px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #eceff1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
}

.menu__link {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu__link:hover {
  background-color: #cfd8dc;
}

#menu__toogle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toogle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toogle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toogle:checked ~ .menu__burger {
  visibility: visible;
  right: 0;
}

.menu__basket {
  position: relative;
}

.menu__busket-number {
  position: absolute;
  bottom: 20px;
  right: -5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  width: 19px;
  height: 19px;
  background: #F16D7F;
  text-align: center;
  border-radius: 50%;
}

.promo {
  background: #F1E4E6;
}

.promo__wrap {
  width: 1140px;
  display: flex;
  justify-content: space-between;
}

.promo__column {
  flex: 0 1 100%;
}

.promo__img {
  width: 400px;
  height: 763px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: -3%;
}

.column__text {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 36px;
}

.promo__rectangle {
  width: 12px;
  height: 92px;
  border: 1px solid #000000;
  background: #EF5B70;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 16px;
}

.promo__text {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.bold {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.promo__color {
  color: #EF5B70;
}

.promo__catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  padding: 60px 0 60px;
}

.categories__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 65px;
}

.categories__item {
  width: 360px;
  height: 260px;
  background-color: #C4C4C4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories__item:first-child {
  background-image: url(../images/category-1.jpg);
  background-repeat: no-repeat;
}

.categories__item:nth-child(2) {
  background-image: url(../images/category-2.jpg);
  background-repeat: no-repeat;
}

.categories__item:nth-child(3) {
  background-image: url(../images/category-3.jpg);
  background-repeat: no-repeat;
}

.categories__item:last-child {
  background-image: url(../images/category-4.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 180px;
}

.categories__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-align: center;
}

.title__color {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.product__heading {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-top: 96px;
  text-align: center;
}

.product__slogan {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 6px;
  text-align: center;
}

.product__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 48px;
}

.product__item {
  width: 360px;
  height: 582px;
  background: #F8F8F8;
}

.product__img {
  margin-bottom: 25px;
}

.product__inner {
  padding: 0 28px 20px 16px;
}

.product__title {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product__desc {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  padding: 12px 0 18px;
}

.product__price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.center {
  display: flex;
  justify-content: center;
  padding: 48px 0 95px;
}

.product__btn {
  padding: 15px 39px;
  border: 1px solid #FF6A6A;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}

.feature {
  background: #222224;
}

.feature__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 104px 0;
  text-align: center;
}

.feature__item {
  width: 360px;
  height: 134px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.feature__title {
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.feature__text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: #FBFBFB;
}

.feedback {
  background-image: url("../images/feedback-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.feedback__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 97px 0 126px;
}

.feedback__info {
  width: 360px;
  text-align: center;
}

.feedback__blockquote {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
  margin-top: 30px;
}

.feedback__suubscribe {
  width: 557px;
  text-align: center;
}

.subscribe__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #222224;
}

.subscribe__bold {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}

.subscribe__form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 33px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.subscribe__email {
  border: none;
  background: #E1E1E1;
  color: #222224;
  opacity: 0.67;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 17px 131px 15px 22px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.subscribe__btn {
  border: none;
  color: #FFFFFF;
  padding: 17px 13px 15px 14px;
  background: #F16D7F;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.footer {
  background: #222224;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copiright {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer__social-list {
  width: 147px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.footer__social-item {
  background: #FFFFFF;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__icon {
  fill: #000000;
}

.footer__social-item:hover {
  background: #F16D7F;
}

.footer__social-item:hover .social__icon {
  fill: #FFFFFF;
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "/";
  margin-left: 5px;
}

.breadcrumbs__current {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.product__filter {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 51px 0 3px;
}

.product__filter-option {
  margin-right: 304px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.product__filter-list {
  width: 296px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filter__img {
  margin-left: 10px;
}

.pagination__list {
  width: 284px;
  border: 1px solid #EBEBEB;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0;
}

.pagination__link,
.pagination__multipoint {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}

.pagination__multipoint {
  margin: 0 -20px;
}

.pagination__item-curent {
  color: #EF5B70;
}

.slider {
  background-color: #F7F7F7;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 78px;
}
.slider__box {
  padding-top: 11px;
}
.slider__btn {
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
  padding: 10px;
  border: 1px solid #000;
}
.slider__next, .slider__prew {
  width: 12px;
  height: 22px;
  fill: black;
}
.slider__next:hover, .slider__prew:hover {
  fill: #F16D7F;
}
.slider-desc {
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  margin-top: -78px;
  margin-bottom: 80px;
}
.slider-desc__headline {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-align: center;
  margin-top: 64px;
}
.slider-desc__rectangle {
  width: 63px;
  height: 3px;
  background: #EF5B70;
  margin: 12px auto;
}
.slider-desc__title {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  text-align: center;
}
.slider-desc__text {
  padding: 48px 294px 32px;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
}
.slider-desc__price {
  font-weight: 300;
  font-size: 24px;
  line-height: 2px;
  color: #EF5B70;
  text-align: center;
  width: 642px;
  padding-bottom: 65px;
  margin: 0 auto 65px;
  border-bottom: 1px solid #EAEAEA;
}
.slider-desc__filter-list {
  width: 373px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin: 0 auto;
}
.slider-desc__btn {
  width: 217px;
  padding: 15px 57px 14px 24px;
  border: 1px solid #FF6A6A;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  display: flex;
  align-items: center;
}
.slider-desc__cart-text {
  padding-left: 22px;
}
.slider__product {
  margin: 0 0 128px;
}/*# sourceMappingURL=style.css.map */