.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__item:not(:last-child)::after {
  content: '/';
  margin-left: 5px;
}

.breadcrumbs__current {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}