.cart__inner {
  display: flex;
  justify-content: space-between;
}


.cart__product {
  width: 652px;
  display: flex;
  justify-content: space-between;
  box-shadow: 20px 20px 20px #E1E1E1;

  &+&{
    margin-top: 40px;
  }
}
